:root {
  --text-color: #000000;
  --primary: #000000;
  --secondary: #ffffff;
  --strokes-primary: #d5d5d5;
  --strokes-secondady: #e6e6e6;
  --error: #f00000;

  --font-family: 'Inter', sans-serif;

  --fw-500: 500;
  --fw-400: 400;

  --fs-30: 30px;
  --fs-18: 18px;
  --fs-16: 16px;
  --fs-12: 12px;

  --lh-42: 42px;
  --lh-25: 25px;
  --lh-26: 26px;
  --lh-19: 19px;
}
