.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 23px 0;
}

.paragraph {
  margin-right: 5px;
}

.link {
  transition: color 0.3s;
  &:hover {
    color: deepskyblue;
  }
}
