.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: var(--fw-500);
  font-size: var(--fs-16);
  line-height: var(--lh-26);
  cursor: pointer;
}

.primary {
  border: none !important;
  padding: 12px 33px;
  color: var(--secondary);
  background: var(--primary);
}

.secondary {
  padding: 7px 33px;
  color: var(--primary);
  background: var(--secondary);
  border: 1px solid var(--strokes-primary);
  transition: border 0.3s;

  &:focus {
    border: 1px solid #838383 !important;
  }
  &:hover {
    border: 1px solid #838383;
  }
}

.primary,
.secondary {
  &:disabled {
    cursor: default;
    border: none;
    color: var(--secondary) !important;
    background: var(--strokes-primary) !important;
  }
}
