.main {
  color: var(--text-color);
}

.title {
  font-weight: 500;
  font-size: 30px;
  line-height: var(--lh-42);
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: var(--lh-25);
}
